<p style="color: green"><%= notice %></p>

<div id="cart">
      <div class="container mt-5">
      <h1><%= link_to "New cart", new_cart_path%></h1>
              
              <h2 class="display-4">Carts</h2>

          <table class="table table-striped table-dark mt-5">
                <thead>
                  <tr>
                    <th scope="col">Shoe</th>
                    <th scope="col">Order/discount</th>
                    <th scope="col">price</th>
                    <th scope="col">Size</th>
                    <th scope="col">Quantity</th>
                  </tr>
                </thead>

             <% @carts.each do |cart| %>

                <tbody>
                  <tr>
                    <th><%= cart.shoe.name%></th>
                    <td><%= cart.order.discount%></td>
                    <td><%= cart.order.final_total%></td>
                    <td><%= cart.shoe.size%></td>
                    <td><%= cart.quantity%></td>
                    <td><%= link_to "show cart", cart%></td>
                  </tr>
                </tbody>
                    
              <%#= render cart %>
              <%# <p> %>
                <%#= link_to "Show this cart", cart %>
              <%# </p> %>
          <% end %>
        </table>
    </div>
</div>
  